<!doctype html>
<html>
<head>
    <title>Recipe Box</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/recipes" class="btn btn-default btn-sm">Find a recipe</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
    
        <div class="col-sm-6">
          <h2>Cook Book</h2>
          <ul class="recipes">
          <% for(var i=0; i<recipes.length; i++) {%>
            <li class="recipe">
              <span><%= recipes[i].name %></span>
              <span>
                <a href="<%= recipes[i].card %>" target="_blank"> View Recipe  </a>

              </span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>
   
</div>

<script src="/main.js"></script>

</body>
</html>
